body {
 		margin: 0;
 	}
 	div {
 		background-image: url(../images/natureza.jpg);
 		background-repeat: no-repeat;
 		background-size: cover;
 		background-color: blue;
 		text-align: center;
 		padding: 100px 0px;
 	}